<p><%= @user.name %></p>
<p><%= @user.profile %></p>
<% if current_user.id == @user.id %>
  <%= link_to '編集する', edit_user_path, class: "btn btn-primary mt-2" %>
  <%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-primary mt-2" %>
<% end %>
