<div class="row">
  <div class="center jumbotron background-image col-12 mb-5">
    <div class="text-center">
      <h1>キドアイラク</h1>
      <p>ネット世界から炎上を食い止める</p>
      <%= link_to "無料会員登録", new_user_path, class: "btn-gradient-radius" %>
      <a href="#" class="btn-gradient-radius">ログイン</a>
    </div>
  </div>
  <div class="paragraph mb-5">
    <h2 class="col-md-8 offset-md-2"><i class="fas fa-user-friends"></i> 世界中の人と交流できる</h2>
    <p class="col-md-8 offset-md-2">グループでの活動とともに、ソロ活動も充実している。ボーカルの片寄涼太（25）は、今年に入って日本テレビ系ドラマ「3年A組－今から皆さんは、人質です－」や、声優に初挑戦したアニメ映画「きみと、波にのれたら」など話題作に次々と出演。</p>
    <img class="col-md-6" src="iStock-911340842.jpg" width=300 height=300>
  </div>
  <div class="paragraph mb-5">
    <h2 class="col-md-6 offset-md-3"><i class="fas fa-user-friends"></i> 相手の感情が一目でわかる</h2>
    <p class="col-md-6 offset-md-3">グループでの活動とともに、ソロ活動も充実している。ボーカルの片寄涼太（25）は、今年に入って日本テレビ系ドラマ「3年A組－今から皆さんは、人質です－」や、声優に初挑戦したアニメ映画「きみと、波にのれたら」など話題作に次々と出演。</p>
    <img class="col-md-6" src="iStock-911340842.jpg" width=300 height=300>
  </div>
  <div class="paragraph mb-5">
    <h2 class="col-md-6 offset-md-3"><i class="fas fa-user-friends"></i> 世界中の人と交流できる</h2>
    <p class="col-md-6 offset-md-3">グループでの活動とともに、ソロ活動も充実している。ボーカルの片寄涼太（25）は、今年に入って日本テレビ系ドラマ「3年A組－今から皆さんは、人質です－」や、声優に初挑戦したアニメ映画「きみと、波にのれたら」など話題作に次々と出演。</p>
    <img class="col-md-6" src="iStock-911340842.jpg" width=300 height=300>
  </div>
  <div class="bottom-button">
    <a href="#" class="btn-gradient-radius">無料会員登録</a>
    <a href="#" class="btn-gradient-radius">ログイン</a>
  </div>
</div>  