@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  text-decoration: none;
}

h1 {
  font-family: arial,sans-serif;
}

h2 {
  font-family: arial,sans-serif;
}

h3 {
  font-family: arial,sans-serif;
}

p {
  font-family: arial,sans-serif;
}

.paragraph {
  text-align: center;
}

.bottom-button {
  margin-left: auto;
  margin-right: auto;
}

.signup-title {
  text-align: center;
}

.login-bottom-text {
  text-align: center;
}

.textarea {
  resize: none;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 

.post {
  display: flex;
}

.username {
  margin-bottom: 1px;
}

.timeline {
  margin-right: auto;
  margin-left: auto;
}